# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local data - NON commitare gli appunti originali
raw_inputs/*

# Ma COMMITTARE il vectorstore (necessario per Streamlit Cloud)
# vectorstore/ <- NON aggiungere qui!

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

#download code for google drive
downloader_drive.py

#auth for google drive
client_secrets.json